<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="d:\temp\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Sentry" />
  </extensions>
  <!--Define a variable to prevent repeated layout-->
  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->
  
  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="c:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    <!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
    <target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>

    <target xsi:type="Sentry" name="Sentry" dsn="https://793aa7b4321146bdbe72d6ba09e667b3@o558285.ingest.sentry.io/5691578"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColorConsole" />
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minLevel="Error" writeTo="Sentry"/>
  </rules>
</nlog>